@import "~normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
#root,
.wrapper {
    display: block;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    overflow:auto;
    overflow:initial;
    color: rgba(0,0,0,0.87);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
}
.footer {
  margin-top: 4rem;
  border-top: 1px solid #c7d6d0;
  text-align: left;
  .socialMedia {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0px;
    margin-left: 0px;
    li + li {
      margin-left: 20px;
    }
  }
}
.wrapper {
    display: flex;
    flex-flow: column;
    flex: 1;
    height: 100%;
    background: #ffffff;
}

main {
    position: relative;
    display: flex;
    flex: 1;
}

.top-bar {
  .name {
    font-weight: bold;
    font-size: 36px;
  }
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding-left: 3rem;
  margin: auto;
  height: 120px;
  width: 100%;
  z-index: 999;
  background: rgba(255,255,255,.97);
  box-shadow: 4px 0px 10px 2px #c7d6d0;
  align-items: center;
  nav {
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    a + a {
      margin-left: 20px;
    }
    a {
      color: #262c35;
      text-decoration: none;
      font-weight: 500;
      align-items: left;
      justify-content: left;
      text-align: left;
      &.active {
        color: #47de9c;
        border-bottom: 2px solid #47de9c;
      }
      &:hover {
        border-bottom: 2px solid #47de9c;
      }
    }
  }
}

.page {
  display: flex;
  width: 1000px;
  max-width: 95%;
  height: 100%;
  align-self: center;
  flex: 1;
  flex-flow: column;
  padding-top: calc(120px + 3rem);
  padding-bottom: 10rem;
}

.welcome {
  text-align: center;
  .welcome-text {
    font-size: 72pt;
  }
  a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: #47de9c;
    }
  }
  .timings {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
  }
  .minute {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-self: baseline;
    align-items: baseline;
    align-content: flex-start;
  }
  .minute + .minute {
    margin-left: 50px;
  }
}

.home {
  text-align: left;
  align-self: center;
  width: 100%;
  a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: #47de9c;
    }
  }
  .contentRow {
    display: flex;
    flex-direction: row;
    width: auto;
    h1 {
      width: 300px;
    }
    .rowCopy {
      display: inline-block;
      width: auto;
    }
    .headshot {
        border: 5px solid #47de9c;
        border-radius: 50%;
        float: right;
        margin-left: 3rem;
        width: 40%;
        height: auto;
    }
  }
  .contentRow + .contentRow {
    margin-top: 3rem;
  }
}


.resume {
  .topContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .flexColumns {
    display: flex;
    flex-direction: column;
    h2 {
      text-align: center;
    }
  }
  svg {
    margin: auto;
    display: block;
    text-align: center;
  }
  .show {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-right: 20px;
    width: 100%;
    height: 120px;
    h2 {
      margin-bottom: 0px;
      font-weight: bold;
      font-size: 18pt;
      text-align: center;
      width: 25%;
      height: auto;
    }
    ul {
      margin-bottom: 0px;
      display: inline;
      list-style: disc;
      width: 80%;
      li {
        margin-left: 2rem;
        font-size: 14pt;
      }
    }
  }
  .hidden {
    display: none !important;
    visibility: hidden;
  }
}

.portfolio {
  flex-flow: row wrap;
  ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    margin: auto;
    li {
      display: flex;
      width: calc(100% / 2 - 2rem);
      min-height: 150px;
      margin-bottom: 2rem;
      margin-right: 2rem;
      border: 1px solid #262c35;
      border-radius: 15px;
      -webkit-transition: background-color .5s;
      transition: background-color .5s;
      &:hover {
          background-color: #47de9c;
          border: 4px solid #b3f5d9;
      }
      a {
        display: flex;
        flex: 1;
        flex-flow: column;
        padding: 1rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        font-size: 18pt;
        color: #262c35;
        &:hover {
            color: #262c35;
        }
      }
    }
  }
}

.portfolio-item {
  .columns {
    display: flex;
    flex-direction: row;
    .col2 {
      flex-direction: column;
      text-align: center;
      margin-left: 2rem;
      border-radius: 10px;
    }
    .portfolioImage {
      background-color: #b3f5d9;
      border: 10px solid #b3f5d9;
      border-radius: 15px;
    }
  }
  .goBack {
    font-size: 18pt;
  }
  img {
    max-width: 400px;
    border-radius: 15px;
  }
}

@media screen and (max-width: 1023px) {
	* h1 {
		max-width: 100% !important;
    text-align: center;
	}
  .top-bar {
    height: 90px;
    padding: 10px 0px 0px 0px;
    align-self: center;
    align-content: center;
    text-align: center;
    .name {
      font-size: 28px;
      letter-spacing: .02em;
    }
    flex-direction: column;
    nav {
      padding: 1rem
    }
  }
  .page {
    padding: calc(62px + 4rem) 1rem 0 1rem;
    width: 100%;
    margin: auto;
  }
  .welcome {
    .welcome-text {
      font-size: 36pt;
      font-weight: bold;
    }
    text-align: center;
    .timings {
      display: flex;
      flex-direction: column;
      padding-top: 0px;
    }
    .minute {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 40px;
    }
    .minute + .minute {
      margin-left: 0;
    }
  }
  .home {
    .contentRow {
      h1 {
        width: auto;
      }
      .row-heading {
        text-align: center;
      }
      display: flex;
      flex-direction: column;
      .headshot {
        max-width: 400px;
        width: 100%;
        margin: auto auto 2rem auto;
        -webkit-shape-outside:none;
        shape-outside:none;
      }
    }
  }
  .resume {
    .resume-heading {
      text-align: center;
    }
    .topContainer {
      flex-direction: column;
    }
    .show {
      display: flex;
      flex-direction: column;
      width: 400px;
      margin: 40px auto auto auto;
      h2 {
        text-align: center;
        align-self: center;
        width: auto;
      }
      ul {
        width: auto;
        li {
          margin-left: 0rem;
        }
      }
    }
  }
  .portfolio {
    margin: auto;
    width: auto;
    align-self: center;
  }
  .portfolioWrapper {
    ul {
      width: auto;
      li {
        width: 100%;
        margin-right: 0;
      }
    }
  }
  .portfolio-item {
    .columns {
      flex-direction: column;
    }
    .col2 {
      margin-left: 0;
    }
    h4 {
      text-align: center;
    }
    img {
      max-width: 100%
    }
  }
  .clearfix {
    height: 150px;
    overflow: hidden;
  }
}

@media screen and (max-width: 400px) {
  .axisLabels {
    font-size: smaller;
  }
  .resume {
    .show {
      display: flex;
      flex-direction: column;
      width: 95%;
      h2 {
        width: auto;
      }
      ul {
        width: auto;
      }
    }
  }
  .portfolio-item {
    .columns {
      .col2 {
        margin-left: 0;
      }
    }
  }
}
